<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - C.E.N.T. 11</title>
    <link href="~/Content/cent11.concat.css" rel="stylesheet" />

</head>
<body class="page-md login">
    <div class="logo">
        <h1 style="color: #fff">CENT 11</h1>
    </div>

    <div class="content">
        @RenderBody()
    </div>

    <script src="~/Scripts/plugins.concat.js"></script>
    <script src="~/Scripts/colegio_terciario.concat.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
