.navegacion-contextual  {
    position: fixed;
    display: block;
    width: 100%;
    top: 45px;
    left: 200px;
    background-color: #ccc;
    height: 41px;
    padding: 6px;
}

.nav-secundaria .navbar-collapse {
    margin-left: -30px !important;
}

#sidebar-wrapper, .sidebar-nav {
    width: 200px !important;
}
#sidebar-wrapper {
    left: 200px !important;
    margin-left: -200px !important;
}

#wrapper {
    padding-left: 200px !important;
}

#page-content-wrapper  {
    margin-top: 45px;
}

.table ul {
    padding-left: 0px;
}
.table li {
    list-style: none;
}

.alumnos-curso th:nth-child(1) {
    min-width: 250px;
}
.alumnos-curso td {
    max-width: 120px;
}
.alumnos-curso th:nth-child(1) i {
    float: left;
    margin-right: 30px;
    margin-top: 15px;
    color: red;
}

.editable-inline select.input-sm {
    padding: 0;
}

.editable-inline select.input-sm,
.editable-inline .editable-buttons { height: 26px; line-height: 26px; }

.editable-inline .btn {
    padding: 3px 6px;
    display: inline-block;
    vertical-align: top;
}

.nav>li>a { padding: 13px 15px; }

@media (min-width: 768px) {
    #page-content-wrapper {
        padding: 0;
    }
}

.select2-container {
        width:200px;
    }

#MATERIAS {
    height: 30px;
    margin-top: 8px;
}