#sidebar-wrapper, .sidebar-nav {
    width: 200px !important;
}
#sidebar-wrapper {
    left: 200px !important;
    margin-left: -200px !important;
}

#wrapper {
    padding-left: 200px !important;
}

.container  { margin-top: 25px; }