@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Nuevo Rol", "Create")
</p>

@foreach (var role in Model)
{
    <p>
        <strong>@role.Name | </strong>
        <span onclick="return confirm('Esta seguro?')"><a href="/Admin/Roles/Delete?RoleName=@role.Name" class="delLink" style="color:red;">Eliminar</a></span> |
        @Html.ActionLink("Editar", "Edit", new { roleName = @role.Name })
    </p>
}
