@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.Title.</h3>
    </div>
    <div class="panel-body">
        <p>
            Compruebe el correo electrónico para restablecer la contraseña.
        </p>
    </div>
</div>
	
