@model IEnumerable<ColegioTerciario.DAL.Models.Acta_Examen>

@{
    ViewBag.Title = "Index";
    var grid = new WebGrid(
        Model, rowsPerPage: 10
        //columnNames: new[]  {"FECHA","LIBRO","FOLIO","TURNO"}
    );
}


<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">Actas de Examenes Finales</div>
                <div class="actions">
                    <a href="@Url.Action("Create")" class="btn btn-sm green">Nueva Acta de Final</a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-hover data-table table-bordered table-read-status table-actas">
                    <thead>
                        <tr>
                            <!--<th style="display: none;">ID</th>-->
                            <th></th>
                            <th>Fecha</th>
                            <th>Libro</th>
                            <th>Folio</th>
                            <th>Turno</th>
                            <th>Carrera</th>
                            <th>Materia</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>

                            <td colspan="8" class="dataTables_empty">
                                Cargando datos del servidor..
                            </td>

                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script type="text/javascript">
        var CAMPO_MATERIAS = 5;
        $(document).ready(function() {
            /* Formatting function for row details - modify as you need */
            function format(d) {
                // `d` is the original data object for the row
                return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                    '<tr>' +
                        '<td>Presidente:</td>' +
                        '<td>' + d.Presidente + '</td>' +
                    '</tr>' +
                    '<tr>' +
                        '<td>Vocal 1:</td>' +
                        '<td>' + d.Vocal1 + '</td>' +
                    '</tr>' +
                    '<tr>' +
                        '<td>Vocal 2:</td>' +
                        '<td>' + d.Vocal2 + '</td>' +
                    '</tr>' +
                '</table>';
            }

            var table = $('.data-table').DataTable({
                "aaSorting": [[1, "desc"]], // default sort to Name
                "bServerSide": true,
                "sAjaxSource": "/api/Actas/GetActas",
                "iDisplayLength": 10,
                "columns": [
                    {
                        
                        "class": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": '',
                        "render": function (data, type, row) {
                            return "<div class='dropdown'>" +
                                '<a href="#" class="dropdown-toggle btn btn-link btn-icon waves-effect" data-toggle="dropdown" aria-expanded="true">' +
                                '<i class="zmdi zmdi-more-vert"></i></a>' +
                                '<ul class="dropdown-menu bgm-bluegray">' +
                                '<li><a href=/ActaExamen/Edit/' + row.ID + '>Editar</a></li>' +
                                '<li><a href=/ActaExamen/Details/' + row.ID + '>Imprimir</a></li>' +
                                '<li><a href=/ActaExamen/Delete/' + row.ID + '>Eliminar</a></li>' +
                                '</ul></div>';
                            /*return "<a href=/ActaExamen/Edit/" + row.ID + " class='btn btn-default' title='Editar'><i class='zmdi zmdi-edit'></i></a>  " +
                                "<a href=/ActaExamen/Details/" + row.ID + " class='btn btn-default' title='Imprimir'><i class='zmdi zmdi-bars'></i></a>  " +
                                "<a href=/ActaExamen/Delete/" + row.ID + " class='btn btn-error' title='Eliminar'><i class='zmdi zmdi-trash'></i></a>";*/
                        },
                    },
                    { "data": "Fecha" },
                    { "data": "Libro" },
                    { "data": "Folio" },
                    { "data": "Turno" },
                    { "data": "Carrera" },
                    { "data": "Materia" }
                ]
            });

            // Add event listener for opening and closing details
            $('.data-table tbody').on('click', 'td:not(:first-child)', function (e) {
                e.preventDefault();
                var tr = $(this).closest('tr');
                var row = table.row(tr);
                var icon = $(this).find('i');
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    icon.toggleClass('fa-search-plus fa-search-minus');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    icon.toggleClass('fa-search-plus fa-search-minus');
                }
            });
        });
    </script>
}