@model ColegioTerciario.Models.ViewModels.AnaliticoViewModel
<?xml version="1.0" encoding="UTF-8"?>
<itext creationdate="@DateTime.Now.ToString()" producer="RazorPDF">
    <table width="100%" cellpadding="1" cellspacing="1" widths="5;5">
        <row>
            <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true">jhh</cell>
            <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true" horizontalalign="right">Lucky Number</cell>
        </row>
    </table>
    <paragraph style="font-family:Helvetica;font-size:18px;font-style:italic;">
        <chunk style="font-weight:bold;">jj</chunk>
    </paragraph>
</itext>