/*#header,
.bootstrap-select,
.card .card-header .actions {
  z-index: 1;
}*/
#sidebar,
.btn,
.card .card-header .actions {
  z-index: 1;
}

.dataTable {
  width: 100% !Important;
}

.dataTables_info {
  margin-top: 30px;
}

.dataTable ul {
  list-style: none;
  padding-left: 0;
}

.table .btn-icon {
  height: auto;
}

.tab-content label {
    font-weight: normal;
    color: #999 !important;
}

.eliminar-integrante {
  color: red;
  display: block;
  float: left;
  margin-right: 10px;
  line-height: 30px;
  height: 30px;
}

/* Esconde navegacion de tabs */
.inscripcionesTabs > nav {
  display: none !important;
}
body#inscripciones {
  padding-top: 30px;
}

#inscripciones .inputSmall {
  width: 100% !important;
}
#inscripciones .inputSmall hr {
  bottom: 35px !important;
}
#inscripciones .inputSmall input {
  height: 44px !important;
  margin-top: 0 !important;
}
#inscripciones .inputSmall label {
  top: 9px !important;
}

.validation-summary-errors ul {
  list-style: none;
  padding-left: 0;
}

.mini-charts-item:hover .count,
.mini-charts-item .count {
  color: inherit !important;
}

.top-menu > li > a.tm-settings.dark {
  background-image: url("../img/icons/ellipsis-dark.png");
}

/* GRIDDLE */

.griddle .top-section {
  margin: 0 30px;
}

/* PRINT */

body.print {
  background: none;
  color: #000;
}
